# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Wu\IdeaProjects\OOAD-2021-4-1\java Swing mysql实现简单的购物系统项目源码\shopManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
